@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');


body {
	text-align: center;
	font-family: 'Barlow Condensed', sans-serif;
	background-image: url('https://cdn.glitch.com/e169fef2-a9b5-474b-b607-c3b63db1a4d9%2Fbg.jpg?1516905219116');
	background-size: contain;
}

.start {
	position: absolute;
	top: 50%;
	left: 50%;
	background: white;
	padding: 7px 15px 7px 15px;
	box-shadow: 1px 1px 2px #888888;
	border-radius: 2px;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
		 -o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}

.game {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
		 -o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
	
}

.hiddenCard {
	vertical-align: top;
	width: 90px;
	height: 140px;
	display: inline-block;
	border-radius: 5px;
	margin: 2px;
	box-shadow: 1px 1px 2px #888888;
	justify-content: center;
	overflow: hidden;
}

.hiddenCard img {
	display: inline-block;
	flex-shrink: 0;
	max-width: 100%;
	min-width: 100%;
	min-height: 100%;
	max-height: 100%;
}

.card {
	vertical-align: top;
	width: 90px;
	height: 140px;
	display: inline-block;
	margin: 2px;
	border-radius: 5px;
	background: white;
	box-shadow: 1px 1px 2px #888888;
}

.left {
	text-align: left;
	display: inline-block;
	padding-right: 60px;
}
.right {
	text-align: right;
	display: inline-block;
	padding-top: 95px;
	padding-left: 60px;

}

.playerTotal, .pcTotal {
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: white;
	box-shadow: 1px 1px 2px #888888;
	margin-bottom: 20px;
}


.hit, .stand , .banner, .reset {
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: white;
	box-shadow: 1px 1px 2px #888888;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	margin-top: 15%;
	margin-right: 5%;
}

.banner {
	display: block;
	margin-bottom: 0px;
}

.pc, .player {
	margin-top: 40px;
}